* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  background: #f7f7f7;
}

body {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 768px;
}

textarea {
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin: 0 auto;
  min-height: 450px;
  resize: vertical;
  font-family: 'Fira Code', 'Menlo', monospace;
}

textarea:focus {
  outline: 2px dashed #ececec;
}

.status {
  color: #a6a6a6;
  font-size: 14px;
  position: absolute;
  bottom: -28px;
  left: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #24292d;
  }

  body textarea {
    color: #ffffff;
    background: #1d2026;
    border-color: #141418;
  }

  body textarea:focus {
    outline: none;
  }
}